@import url("https://fonts.googleapis.com/css?family=Lato:300i,400");
@font-face {
  font-family: 'Bender-Light';
  src: url("fonts/356F86_0_0.eot");
  src: url("fonts/356F86_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_0_0.woff2") format("woff2"), url("fonts/356F86_0_0.woff") format("woff"), url("fonts/356F86_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bender-Italic';
  src: url("fonts/356F86_1_0.eot");
  src: url("fonts/356F86_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_1_0.woff2") format("woff2"), url("fonts/356F86_1_0.woff") format("woff"), url("fonts/356F86_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bender-LightItalic';
  src: url("fonts/356F86_2_0.eot");
  src: url("fonts/356F86_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_2_0.woff2") format("woff2"), url("fonts/356F86_2_0.woff") format("woff"), url("fonts/356F86_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bender-Bold';
  src: url("fonts/356F86_3_0.eot");
  src: url("fonts/356F86_3_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_3_0.woff2") format("woff2"), url("fonts/356F86_3_0.woff") format("woff"), url("fonts/356F86_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bender';
  src: url("fonts/356F86_4_0.eot");
  src: url("fonts/356F86_4_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_4_0.woff2") format("woff2"), url("fonts/356F86_4_0.woff") format("woff"), url("fonts/356F86_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bender-Black';
  src: url("fonts/356F86_5_0.eot");
  src: url("fonts/356F86_5_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_5_0.woff2") format("woff2"), url("fonts/356F86_5_0.woff") format("woff"), url("fonts/356F86_5_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bender-BlackItalic';
  src: url("fonts/356F86_6_0.eot");
  src: url("fonts/356F86_6_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_6_0.woff2") format("woff2"), url("fonts/356F86_6_0.woff") format("woff"), url("fonts/356F86_6_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bender-BoldItalic';
  src: url("fonts/356F86_7_0.eot");
  src: url("fonts/356F86_7_0.eot?#iefix") format("embedded-opentype"), url("fonts/356F86_7_0.woff2") format("woff2"), url("fonts/356F86_7_0.woff") format("woff"), url("fonts/356F86_7_0.ttf") format("truetype"); }

html,
body {
  overflow-x: hidden;
  font-size: 12px; }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 15px; } }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

input,
button,
textarea,
select {
  border: none; }
  input:focus,
  button:focus,
  textarea:focus,
  select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

::-moz-selection {
  background-color: #d4145a;
  color: #fff; }

::selection {
  background-color: #d4145a;
  color: #fff; }

.heading-primary {
  font-family: "Bender-Bold", "Helvetica", "Arial", sans-serif;
  font-size: 3.75rem;
  color: #282828;
  letter-spacing: 0.04em; }
  .heading-primary--big {
    font-size: 5.625rem; }

.heading-secondary {
  font-family: "Bender", "Helvetica", "Arial", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.04em;
  color: #282828; }
  @media screen and (min-width: 768px) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary--small {
    font-size: 3rem; }
    @media screen and (min-width: 768px) {
      .heading-secondary--small {
        font-size: 2.25rem; } }
  .heading-secondary--med {
    font-size: 3.333rem;
    line-height: 4.167rem; }
    @media screen and (min-width: 768px) {
      .heading-secondary--med {
        font-size: 2.5rem;
        line-height: 3.125rem; } }

.heading-tertiary {
  font-family: "Bender", "Helvetica", "Arial", sans-serif;
  color: #282828;
  font-size: 2.5rem; }
  @media screen and (min-width: 768px) {
    .heading-tertiary {
      font-size: 1.875rem; } }

.heading-quaternary {
  font-family: "Bender", "Helvetica", "Arial", sans-serif;
  color: #282828;
  font-size: 2rem; }
  @media screen and (min-width: 768px) {
    .heading-quaternary {
      font-size: 1.5rem; } }

.paragraph {
  font-family: "Bender", "Helvetica", "Arial", sans-serif;
  font-size: 1.333rem;
  line-height: 2.167rem;
  letter-spacing: 0.04em;
  color: #282828; }
  @media screen and (min-width: 768px) {
    .paragraph {
      font-size: 1rem;
      line-height: 1.625rem; } }
  .paragraph__icon {
    max-width: 52px; }
  .paragraph--link:hover {
    text-decoration: none; }
  .paragraph--smallest-2 {
    font-size: 9px;
    line-height: 12px; }
  .paragraph--smallest {
    font-size: 1rem;
    line-height: 1.5rem; }
    @media screen and (min-width: 768px) {
      .paragraph--smallest {
        font-size: 0.75rem;
        line-height: 1.125rem; } }
  .paragraph--small {
    font-size: 1.167rem;
    line-height: 2.5rem; }
    @media screen and (min-width: 768px) {
      .paragraph--small {
        font-size: 0.875rem;
        line-height: 1.875rem; } }
    .paragraph--small-alt {
      line-height: 2rem; }
      @media screen and (min-width: 768px) {
        .paragraph--small-alt {
          line-height: 1.5rem; } }
  .paragraph--med {
    font-size: 1.5rem;
    line-height: 1.8333rem; }
    @media screen and (min-width: 768px) {
      .paragraph--med {
        font-size: 1.125rem;
        line-height: 1.375rem; } }
    .paragraph--med-alt {
      line-height: 2.5rem; }
      @media screen and (min-width: 768px) {
        .paragraph--med-alt {
          line-height: 1.875rem; } }
  .paragraph--med-2 {
    font-size: 1.8333rem; }
    @media screen and (min-width: 768px) {
      .paragraph--med-2 {
        font-size: 1.375rem; } }
  .paragraph--med-3 {
    font-size: 1.667rem; }
    @media screen and (min-width: 768px) {
      .paragraph--med-3 {
        font-size: 1.25rem; } }
  .paragraph--big {
    font-size: 2.0833rem;
    line-height: 3.333rem; }
    @media screen and (min-width: 768px) {
      .paragraph--big {
        font-size: 1.5625rem;
        line-height: 2.5rem; } }

.u-color-primary {
  color: #d4145a; }
  .u-color-primary:hover {
    color: #d4145a; }

.u-color-white {
  color: #fff; }
  .u-color-white:hover {
    color: #fff; }

.u-color-gray {
  color: rgba(40, 40, 40, 0.56); }
  .u-color-gray:hover {
    color: rgba(40, 40, 40, 0.56); }

.u-color-gray-2 {
  color: rgba(40, 40, 40, 0.66); }
  .u-color-gray-2:hover {
    color: rgba(40, 40, 40, 0.66); }

.u-color-gray-light {
  color: #cacaca; }

.u-color-gray-alt {
  color: #f6f5f3; }
  .u-color-gray-alt-transparent {
    color: rgba(246, 245, 243, 0.6); }

.u-align-right {
  text-align: right; }

.u-align-center {
  text-align: center; }

.u-align-left {
  text-align: left; }

.u-font-bld {
  font-family: "Bender-Bold", "Helvetica", "Arial", sans-serif; }

.u-font-alt {
  font-family: "Lato", "Helvetica", "Arial", sans-serif; }

.u-font-uppercase {
  text-transform: uppercase; }

.u-font-italic {
  font-style: italic; }

.u-letter-spacing-small {
  letter-spacing: 0.04em; }

.u-letter-spacing-med {
  letter-spacing: 0.075em; }

.u-letter-spacing-big {
  letter-spacing: 0.2em; }

.u-margin-vertical-med {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 768px) {
    .u-margin-vertical-med {
      margin-top: 1.875rem;
      margin-bottom: 1.875rem; } }

.u-margin-vertical-big {
  margin-top: 5.625rem;
  margin-bottom: 5.625rem; }

.u-margin-bottom-smallest {
  margin-bottom: 10px; }

.u-margin-bottom-smaller {
  margin-bottom: 1rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-smaller {
      margin-bottom: 0.75rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.667rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-small {
      margin-bottom: 1.25rem; } }

.u-margin-bottom-small-2 {
  margin-bottom: 2.0833rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-small-2 {
      margin-bottom: 1.5625rem; } }

.u-margin-bottom-med {
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-med {
      margin-bottom: 1.875rem; } }

.u-margin-bottom-med-2 {
  margin-bottom: 3.333rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-med-2 {
      margin-bottom: 2.5rem; } }

.u-margin-bottom-med-3 {
  margin-bottom: 3.75rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-med-3 {
      margin-bottom: 2.8125rem; } }

.u-margin-bottom-big {
  margin-bottom: 5rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-big {
      margin-bottom: 3.75rem; } }

.u-margin-bottom-big-2 {
  margin-bottom: 7.5rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-big-2 {
      margin-bottom: 5.625rem; } }

.u-margin-top-smallest {
  margin-top: 10px; }

.u-margin-top-smaller {
  margin-top: 1.333rem; }
  @media screen and (min-width: 768px) {
    .u-margin-top-smaller {
      margin-top: 1rem; } }

.u-margin-top-small {
  margin-top: 1.667rem; }
  @media screen and (min-width: 768px) {
    .u-margin-top-small {
      margin-top: 1.25rem; } }

.u-margin-top-med {
  margin-top: 2.5rem; }
  @media screen and (min-width: 768px) {
    .u-margin-top-med {
      margin-top: 1.875rem; } }

.u-margin-top-med-2 {
  margin-top: 3.333rem; }
  @media screen and (min-width: 768px) {
    .u-margin-top-med-2 {
      margin-top: 2.5rem; } }

.u-margin-top-big {
  margin-top: 5rem; }
  @media screen and (min-width: 768px) {
    .u-margin-top-big {
      margin-top: 3.75rem; } }

.u-margin-top-auto {
  margin-top: auto; }

.u-padding-vertical-smallest {
  padding-top: 10px;
  padding-bottom: 10px; }

.u-padding-vertical-small {
  padding-top: 1.667rem;
  padding-bottom: 1.667rem; }
  @media screen and (min-width: 768px) {
    .u-padding-vertical-small {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem; } }

.u-padding-vertical-med {
  margin-top: 5.833rem;
  margin-bottom: 5.833rem; }
  @media screen and (min-width: 768px) {
    .u-padding-vertical-med {
      margin-top: 4.375rem;
      margin-bottom: 4.375rem; } }

.u-padding-vertical-med-2 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem; }
  @media screen and (min-width: 768px) {
    .u-padding-vertical-med-2 {
      padding-top: 5.625rem;
      padding-bottom: 5.625rem; } }

.u-padding-vertical-big {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem; }
  @media screen and (min-width: 768px) {
    .u-padding-vertical-big {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem; } }

.u-padding-vertical-huge {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  @media screen and (min-width: 768px) {
    .u-padding-vertical-huge {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem; } }

.u-padding-horizontal-med {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  @media screen and (min-width: 768px) {
    .u-padding-horizontal-med {
      padding-left: 1.875rem;
      padding-right: 1.875rem; } }

.u-padding-left-small {
  margin-left: 1.333rem; }
  @media screen and (min-width: 768px) {
    .u-padding-left-small {
      margin-left: 1rem; } }

.u-padding-left-big {
  padding-left: 2rem; }
  @media screen and (min-width: 768px) {
    .u-padding-left-big {
      padding-left: 7.1875rem; } }
  .u-padding-left-big-sm {
    padding-left: 0; }
    @media screen and (min-width: 768px) {
      .u-padding-left-big-sm {
        padding-left: 7.1875rem; } }

.u-padding-top-smallest {
  padding-top: 10px; }

.u-padding-top-small {
  padding-top: 1.667rem; }
  @media screen and (min-width: 768px) {
    .u-padding-top-small {
      padding-top: 1.25rem; } }

.u-padding-top-big {
  padding-top: 7.5rem; }
  @media screen and (min-width: 768px) {
    .u-padding-top-big {
      padding-top: 5.625rem; } }

.u-padding-top-huge {
  padding-top: 10.8333rem; }
  @media screen and (min-width: 768px) {
    .u-padding-top-huge {
      padding-top: 8.125rem; } }

.u-padding-bottom-smallest {
  padding-bottom: 10px; }

.u-padding-bottom-small {
  padding-bottom: 1.667rem; }
  @media screen and (min-width: 768px) {
    .u-padding-bottom-small {
      padding-bottom: 1.25rem; } }

.u-padding-bottom-med {
  padding-bottom: 6.667rem; }
  @media screen and (min-width: 768px) {
    .u-padding-bottom-med {
      padding-bottom: 5rem; } }

.u-padding-bottom-huge {
  padding-bottom: 10.833rem; }
  @media screen and (min-width: 768px) {
    .u-padding-bottom-huge {
      padding-bottom: 8.125rem; } }

.u-padding-bottom-huge-2 {
  padding-bottom: 12.5rem; }
  @media screen and (min-width: 768px) {
    .u-padding-bottom-huge-2 {
      padding-bottom: 9.375rem; } }

.u-padding-null {
  padding: 0; }

.u-bg-gray {
  background-color: #f0efef; }
  .u-bg-gray-alt {
    background-color: #f6f5f3; }
  .u-bg-gray-dark {
    background-color: #373737; }

.u-bg-size-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.u-border-bottom-primary {
  border-bottom: 1px solid #d4145a; }

.u-position-relative {
  position: relative; }

.u-link:link, .u-link:hover, .u-link:active, .u-link:visited, .u-link:focus {
  color: inherit;
  text-decoration: none;
  outline: none; }

.u-link-underline:link, .u-link-underline:hover, .u-link-underline:active, .u-link-underline:visited, .u-link-underline:focus {
  color: inherit;
  text-decoration: underline;
  outline: none; }

.u-break-md {
  display: none; }
  @media screen and (min-width: 992px) {
    .u-break-md {
      display: block; } }

@media screen and (min-width: 768px) {
  .u-height-small {
    height: 4.375rem; } }

.u-flex-align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

@media screen and (min-width: 768px) {
  .u-flex-space-between-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.u-img-big {
  width: 90%;
  height: auto;
  margin: 0 auto; }

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 44.167rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .banner {
      height: 33.125rem; } }
  .banner__copy {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .banner__copy {
        width: 60%;
        margin-left: auto;
        margin-right: auto; } }
  .banner--big {
    height: 67.5rem; }
    @media screen and (min-width: 768px) {
      .banner--big {
        height: 50.625rem; } }

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

.menu__item {
  text-align: center; }

.menu__link {
  display: inline-block;
  font-family: "Bender", "Helvetica", "Arial", sans-serif;
  font-size: 1.167rem;
  padding: 10px 1.667rem; }
  .menu__link:link, .menu__link:hover, .menu__link:active, .menu__link:visited, .menu__link:focus {
    color: #fff;
    text-decoration: none;
    outline: none; }
  @media screen and (min-width: 768px) {
    .menu__link {
      padding: 10px 1.25rem;
      font-size: 0.875rem; }
      .menu__link:link, .menu__link:hover, .menu__link:active, .menu__link:visited, .menu__link:focus {
        color: #282828;
        text-decoration: none;
        outline: none; } }
  .menu__link--cta {
    border: 1px solid #fff;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .menu__link--cta {
        margin-top: 0;
        margin-left: 10px;
        border-color: #d4145a; } }
    .menu__link--cta:hover {
      background-color: #fff;
      color: #d4145a; }
      @media screen and (min-width: 768px) {
        .menu__link--cta:hover {
          background-color: #d4145a;
          color: #fff; } }

.menu--alt .menu__link:link, .menu--alt .menu__link:hover, .menu--alt .menu__link:active, .menu--alt .menu__link:visited, .menu--alt .menu__link:focus {
  color: #fff;
  text-decoration: none;
  outline: none; }

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 50%;
  height: auto;
  pointer-events: none; }
  @media screen and (min-width: 768px) {
    .triangle {
      width: 25%;
      max-width: 330px; } }
  .triangle--full {
    width: 100%;
    max-width: none; }
  .triangle--transparent {
    opacity: .8; }
  .triangle--top-right {
    left: auto;
    right: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
  .triangle--bottom-right {
    left: auto;
    right: 0;
    top: auto;
    bottom: -1px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .triangle--bottom-left {
    right: auto;
    left: 0;
    top: auto;
    bottom: -1px;
    -webkit-transform: rotate(-180deg) scaleX(-1);
    -ms-transform: rotate(-180deg) scaleX(-1);
    transform: rotate(-180deg) scaleX(-1); }

.caption {
  position: absolute;
  padding: 2.5rem;
  background-color: rgba(212, 20, 90, 0.68); }
  @media screen and (min-width: 768px) {
    .caption {
      width: 455px; } }
  @media screen and (min-width: 768px) {
    .caption--big {
      width: 560px; } }
  .caption--left-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 768px) {
      .caption--left-center {
        left: 0; } }
  .caption--center-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .caption--center-bottom {
    bottom: 2.5rem;
    left: 0; }
  .caption--top-left {
    top: 3.75rem;
    left: 0;
    right: auto;
    bottom: auto; }
  .caption--bottom-right {
    top: auto;
    bottom: 3.75rem;
    right: 0;
    left: auto; }
  .caption--triangle {
    background-image: url("../images/triangle-eq.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 6.875rem 7.8125rem 3.125rem 7.8125rem;
    opacity: .8;
    background-color: transparent;
    width: auto; }
    @media screen and (min-width: 768px) {
      .caption--triangle.caption--left-center {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        -ms-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5); } }
    @media screen and (min-width: 992px) {
      .caption--triangle.caption--left-center {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        -ms-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8); } }
    @media screen and (min-width: 1200px) {
      .caption--triangle.caption--left-center {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }

.list__item-title {
  margin-bottom: 1.333rem; }
  @media screen and (min-width: 768px) {
    .list__item-title {
      margin-bottom: 1rem; } }

.list__item-copy {
  padding-left: 1.333rem;
  border-left: 1px solid #d4145a; }
  @media screen and (min-width: 768px) {
    .list__item-copy {
      padding-left: 1rem; } }

.list__item + .list__item {
  margin-top: 1.333rem; }
  @media screen and (min-width: 768px) {
    .list__item + .list__item {
      margin-top: 1rem; } }

.btn {
  padding: 1.5rem 2.5rem;
  min-width: 190px;
  background-color: #d4145a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Bender", "Helvetica", "Arial", sans-serif;
  color: #fff;
  font-size: 1.333rem;
  letter-spacing: 0.2em;
  border-radius: 3px;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }
  .btn:link, .btn:hover, .btn:active, .btn:visited, .btn:focus {
    color: #fff;
    text-decoration: none;
    outline: none; }
  @media screen and (min-width: 768px) {
    .btn {
      padding: 0.875rem 1.875rem;
      font-size: 1rem; } }
  .btn__icon {
    margin-left: 1rem; }
    @media screen and (min-width: 768px) {
      .btn__icon {
        margin-left: 0.75rem; } }
  .btn:hover {
    border-color: #d4145a;
    background-color: transparent;
    color: #d4145a; }
    .btn:hover svg polygon {
      fill: #d4145a; }
  .btn--full {
    width: 100%; }
  .btn--small {
    max-width: 194px; }
  .btn--alt {
    padding: 1rem 2.5rem;
    letter-spacing: 0.04em;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
    box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
    border: 1px solid #ff6d6d; }
    @media screen and (min-width: 768px) {
      .btn--alt {
        padding: 0.75rem 1.875rem; } }
    .btn--alt:hover {
      border-color: #ff6d6d; }
  .btn--no-hover:hover {
    background-color: #d4145a;
    color: #fff;
    border-color: #ff6d6d; }

.testimonial {
  text-align: center;
  position: relative;
  padding: calc(61px + 1.667rem) 2rem; }
  @media screen and (min-width: 768px) {
    .testimonial {
      margin: 0 auto;
      padding: calc(61px + 1.25rem) 8rem; } }
  .testimonial:focus {
    outline: none; }
  .testimonial:before, .testimonial:after {
    content: "";
    position: absolute;
    background-image: url("../images/quotes.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 50%;
    width: 97px;
    height: 61px; }
  .testimonial:before {
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .testimonial:after {
    bottom: 0;
    -webkit-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg); }
  .testimonial__text {
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    color: #fff;
    font-size: 2.0833rem;
    line-height: 3.333rem;
    letter-spacing: 0.025em; }
    @media screen and (min-width: 768px) {
      .testimonial__text {
        font-size: 1.5625rem;
        line-height: 2.5rem; } }

.form {
  width: 100%;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto; }
  .form__input-wrapper {
    position: relative; }
    .form__input-wrapper:not(:first-child), .form__input-wrapper:not(:last-child) {
      margin: 1.667rem 0; }
      @media screen and (min-width: 768px) {
        .form__input-wrapper:not(:first-child), .form__input-wrapper:not(:last-child) {
          margin: 1.25rem 0; } }
  @media screen and (min-width: 768px) {
    .form__input-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .form__input-group > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0; }
    @media screen and (min-width: 768px) {
      .form__input-group > * + * {
        margin-top: 0 !important;
        margin-left: 1.25rem; } }
  .form__input-group:not(:first-child), .form__input-group:not(:last-child) {
    margin: 1.667rem 0; }
    @media screen and (min-width: 768px) {
      .form__input-group:not(:first-child), .form__input-group:not(:last-child) {
        margin: 1.25rem 0; } }
  .form__input {
    background-color: #4a4a4a;
    border: 1px solid #9b9b9b;
    padding: 1rem;
    font-family: "Bender", "Helvetica", "Arial", sans-serif;
    font-size: 1.333rem;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    @media screen and (min-width: 768px) {
      .form__input {
        padding: 0.75rem;
        font-size: 1rem; } }
    .form__input option {
      color: #282828; }
    .form__input-inner-text {
      width: auto;
      max-width: 4.75rem;
      padding: 0;
      position: absolute;
      border-radius: 0;
      top: 50%;
      left: 1.667rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border-right: 1px solid #fff !important; }
      @media screen and (min-width: 768px) {
        .form__input-inner-text {
          left: 1.25rem;
          padding-right: 2.1875rem; } }
      .form__input-inner-text + .form__input {
        padding-left: 7.8125rem; }
    .form__input-arrow {
      position: absolute;
      top: 50%;
      right: 2.5rem;
      pointer-events: none;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #fff;
      font-size: 2.5rem; }
      @media screen and (min-width: 768px) {
        .form__input-arrow {
          font-size: 1.875rem; } }
    .form__input::-webkit-input-placeholder {
      color: #fff; }
    .form__input:-ms-input-placeholder {
      color: #fff; }
    .form__input::-ms-input-placeholder {
      color: #fff; }
    .form__input::placeholder {
      color: #fff; }
    .form__input--icon {
      padding-right: 6.5rem; }
      @media screen and (min-width: 768px) {
        .form__input--icon {
          padding-right: 4.875rem; } }
    .form__input--alt {
      background-color: rgba(246, 245, 243, 0.1);
      padding-left: 2.5rem; }
      .form__input--alt + .form__input--alt {
        margin-top: 1.667rem; }
        @media screen and (min-width: 768px) {
          .form__input--alt + .form__input--alt {
            margin-top: 1.25rem; } }
    .form__input--transparent {
      background: none;
      border: 0; }
  .form__item + .form__item {
    margin-top: 1.333rem; }
    @media screen and (min-width: 768px) {
      .form__item + .form__item {
        margin-top: 2.8125rem; } }
  .form--small {
    max-width: 390px; }
  .form--inline {
    max-width: none; }
    @media screen and (min-width: 768px) {
      .form--inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media screen and (min-width: 768px) {
      .form--inline .form__item + .form__item {
        margin-top: 0;
        margin-left: 2.8125rem; } }
    .form--inline .form__btn {
      min-width: 0; }

.feature {
  text-align: left; }
  @media screen and (min-width: 768px) {
    .feature {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .feature__img-slider, .feature__img {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .feature__img-slider, .feature__img {
        margin: 0 6.875rem 0 0; } }
  .feature__img-slider {
    position: relative;
    width: 17.75rem;
    height: 18.875rem;
    margin-bottom: 4rem; }
    @media screen and (min-width: 768px) {
      .feature__img-slider {
        margin-bottom: 0; } }
    .feature__img-slider .slick-list {
      margin-right: -53px; }
    .feature__img-slider .slick-slide {
      margin-right: 53px !important; }
    .feature__img-slider .slick-dots {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      bottom: -13px;
      left: 50%;
      -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%); }
      .feature__img-slider .slick-dots li {
        cursor: pointer;
        height: 7px;
        width: 7px;
        background-color: #f0efef;
        border-radius: 50%; }
        .feature__img-slider .slick-dots li.slick-active {
          background-color: #d4145a; }
        .feature__img-slider .slick-dots li + li {
          margin-left: 8px; }
  .feature__copy {
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .feature__copy {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; } }
  @media screen and (min-width: 768px) {
    .feature--left .feature__img-slider, .feature--left .feature__img {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin: 0 0 0 10.625rem; } }
  @media screen and (min-width: 768px) {
    .feature--left .feature__copy {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.img-composition {
  position: relative;
  height: 18.875rem;
  width: 17.75rem; }
  @media screen and (min-width: 768px) {
    .img-composition {
      min-height: 18.875rem;
      min-width: 17.75rem; } }
  .img-composition__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .img-composition__fg {
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 0px 7px 8.3px 1.7px rgba(2, 2, 2, 0.35);
    box-shadow: 0px 7px 8.3px 1.7px rgba(2, 2, 2, 0.35);
    top: 50%;
    right: 0;
    -webkit-transform: translate(20.9%, -50%);
    -ms-transform: translate(20.9%, -50%);
    transform: translate(20.9%, -50%);
    width: 13.4375rem;
    height: 14.25rem; }
    @media screen and (min-width: 768px) {
      .img-composition__fg {
        min-width: 13.4375rem;
        min-height: 14.25rem; } }
  .img-composition:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 20, 90, 0.5); }
  .img-composition:focus {
    outline: none; }
  .img-composition--left .img-composition__fg {
    right: auto;
    left: 0;
    -webkit-transform: translate(-17.5%, -50%);
    -ms-transform: translate(-17.5%, -50%);
    transform: translate(-17.5%, -50%); }

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .steps__item {
    border-radius: 50%;
    height: 1.667rem;
    width: 1.667rem;
    border: 1px solid #fff;
    position: relative;
    background-color: #000; }
    @media screen and (min-width: 768px) {
      .steps__item {
        height: 1.25rem;
        width: 1.25rem; } }
    .steps__item--active {
      border-color: #d4145a;
      background-color: #a51449; }
  .steps:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff; }

.checkbox {
  cursor: pointer; }
  .checkbox__input {
    display: none; }
    .checkbox__input:checked + .checkbox__label:before {
      background-color: #d4145a; }
  .checkbox__label {
    text-align: left;
    line-height: 1.333rem;
    padding-left: 3.333rem !important;
    position: relative; }
    @media screen and (min-width: 768px) {
      .checkbox__label {
        line-height: 1rem;
        padding-left: 2.5rem !important; } }
    .checkbox__label:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1.333rem;
      width: 1.333rem;
      border-radius: 4px;
      border: 1px solid #fff;
      background-color: #2f2426; }
      @media screen and (min-width: 768px) {
        .checkbox__label:before {
          height: 1rem;
          width: 1rem; } }

.radio {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .radio__item-input {
    display: none; }
    .radio__item-input:checked + .radio__item-label:before {
      background-color: #d4145a;
      -webkit-box-shadow: 0 0 0 1px #fff, inset 0 0 0 2px #000;
      box-shadow: 0 0 0 1px #fff, inset 0 0 0 2px #000; }
  .radio__item-label {
    padding-left: 2.9167rem !important;
    position: relative; }
    @media screen and (min-width: 768px) {
      .radio__item-label {
        padding-left: 2.1875rem !important; } }
    .radio__item-label:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 1.333rem;
      width: 1.333rem;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 0 1px #fff;
      box-shadow: 0 0 0 1px #fff; }
      @media screen and (min-width: 768px) {
        .radio__item-label:before {
          height: 1rem;
          width: 1rem; } }
  .radio__item + .radio__item {
    margin-left: 4.375rem; }

.header {
  position: absolute;
  z-index: 999;
  top: 2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%; }
  .header__content {
    padding: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (min-width: 768px) {
      .header__content {
        padding: 0 2.5rem; } }
  .header__logo {
    display: block;
    width: 40%;
    max-width: 135px; }
    .header__logo-img {
      width: 100%;
      height: auto; }
  .header__btn {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 17px;
    width: 2rem;
    background: none; }
    @media screen and (min-width: 768px) {
      .header__btn {
        display: none; } }
    .header__btn-line {
      position: relative;
      display: block; }
      .header__btn-line, .header__btn-line:before, .header__btn-line:after {
        height: 3px;
        width: 2rem;
        background-color: #d4145a; }
      .header__btn-line:before, .header__btn-line:after {
        content: "";
        position: absolute;
        left: 0; }
      .header__btn-line:before {
        top: -7px; }
      .header__btn-line:after {
        top: 7px; }
  .header__nav {
    background-color: #d4145a;
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    padding: 1rem;
    display: none; }
    @media screen and (min-width: 768px) {
      .header__nav {
        display: block !important;
        background: none;
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        padding: 0;
        width: auto; } }

.footer {
  padding: 6.875rem 15px;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .footer {
      text-align: left; } }
  @media screen and (min-width: 768px) {
    .footer__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  .footer__logo {
    display: block;
    margin-bottom: 1.667rem; }
    @media screen and (min-width: 768px) {
      .footer__logo {
        margin-bottom: 1.25rem; } }
    .footer__logo-img {
      width: 50%;
      height: auto; }
      @media screen and (min-width: 768px) {
        .footer__logo-img {
          width: 85%; } }
  @media screen and (min-width: 768px) {
    .footer__info {
      max-width: 235px;
      margin-right: 3.75rem; } }
  @media screen and (min-width: 768px) {
    .footer__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media screen and (min-width: 768px) {
    .footer__nav-group + .footer__nav-group {
      margin-left: 6.25rem; } }
  .footer__list-link:link, .footer__list-link:hover, .footer__list-link:active, .footer__list-link:visited, .footer__list-link:focus {
    color: inherit;
    text-decoration: none;
    outline: none; }

.section-cta {
  background-color: #d4145a;
  padding: 5.833rem 15px; }
  @media screen and (min-width: 768px) {
    .section-cta {
      padding: 4.375rem 15px; } }
  .section-cta__copy {
    text-align: center; }

.section-divided {
  position: relative; }
  @media screen and (min-width: 768px) {
    .section-divided {
      height: 45.3125rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .section-divided__column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .section-divided__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    @media screen and (min-width: 768px) {
      .section-divided__main {
        width: 55.5%; } }
    @media screen and (min-width: 768px) {
      .section-divided__main--big {
        width: 65%; } }
    .section-divided__main--bg-gray {
      background-color: #f0efef; }
    @media screen and (min-width: 768px) {
      .section-divided__main--right {
        margin-left: auto; } }
  .section-divided__sub {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    height: 500px;
    padding: 5rem 3.125rem; }
    @media screen and (min-width: 768px) {
      .section-divided__sub {
        position: absolute;
        top: 0;
        right: 0;
        width: 44.5%; } }
    .section-divided__sub--left {
      right: auto;
      left: 0; }
    @media screen and (min-width: 768px) {
      .section-divided__sub--small {
        width: 35%; } }
  .section-divided__copy {
    padding-top: 10.625rem;
    padding-bottom: 10.625rem; }
    @media screen and (min-width: 768px) {
      .section-divided__copy {
        padding-top: 0;
        padding-bottom: 0;
        width: 80%; } }
    @media screen and (min-width: 768px) {
      .section-divided__copy--big {
        width: 85%; } }
    .section-divided__copy--alt {
      padding-top: 5.625rem;
      padding-bottom: 0;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .section-divided__copy--alt {
          padding-top: 0; } }
    .section-divided__copy--triangle-top {
      padding-top: 15rem; }
      @media screen and (min-width: 768px) {
        .section-divided__copy--triangle-top {
          padding-top: 0; } }
  @media screen and (min-width: 768px) {
    .section-divided > *:not(.triangle),
    .section-divided > *:not(.triangle) .row,
    .section-divided > *:not(.triangle) [class^="col"] {
      height: 100%; } }
  @media screen and (min-width: 768px) {
    .section-divided--diagonal {
      height: 34.0625rem; } }
  .section-divided--diagonal .section-divided__main, .section-divided--diagonal .section-divided__sub {
    height: 34.0625rem; }
  .section-divided--diagonal .section-divided__main {
    position: relative;
    z-index: 2;
    margin-bottom: -8rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    @media screen and (min-width: 768px) {
      .section-divided--diagonal .section-divided__main {
        margin-bottom: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%); } }
  .section-divided--diagonal .section-divided__sub {
    z-index: 1;
    background-position: right center; }
    @media screen and (min-width: 768px) {
      .section-divided--diagonal .section-divided__sub {
        width: 70%; } }
  @media screen and (min-width: 768px) {
    .section-divided--small {
      height: 37.5rem; } }

.section-testimonial {
  background-image: url("../images/bg-testimonial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 19.167rem 15px; }
  @media screen and (min-width: 768px) {
    .section-testimonial {
      padding: 14.375rem 15px; } }
  @media screen and (min-width: 768px) {
    .section-testimonial__slider {
      padding: 0 2rem; } }
  .section-testimonial__arrow {
    position: absolute;
    z-index: 3;
    top: 50%;
    cursor: pointer; }
    .section-testimonial__arrow--prev {
      left: 0;
      -webkit-transform: translateY(-50%) scaleX(-1);
      -ms-transform: translateY(-50%) scaleX(-1);
      transform: translateY(-50%) scaleX(-1); }
    .section-testimonial__arrow--next {
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

@media screen and (min-width: 768px) {
  .section-clients__intro {
    width: 60%;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 768px) {
  .section-clients__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.section-clients__logos-item {
  margin: 1rem; }
  @media screen and (min-width: 768px) {
    .section-clients__logos-item {
      margin: 0; } }

@media screen and (min-width: 768px) {
  .section-subscribe__form {
    width: 80%;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 768px) {
  .section-subscribe__form > * {
    width: 33.33%; } }

.section-login {
  background-image: url("../images/bg-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 7.1875rem; }
  .section-login__content {
    padding: 3.75rem;
    background-color: rgba(0, 0, 0, 0.86);
    position: relative;
    z-index: 1;
    width: calc(100% - 30px);
    max-width: 1140px;
    margin-top: 11.25rem; }
    @media screen and (min-width: 768px) {
      .section-login__content {
        width: 75%; } }
    @media screen and (min-width: 992px) {
      .section-login__content {
        min-height: 666px; } }
    .section-login__content-main {
      border-bottom: 1px solid #9b9b9b;
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem; }
      @media screen and (min-width: 992px) {
        .section-login__content-main {
          width: 60%;
          border-bottom: 0;
          border-right: 1px solid #9b9b9b;
          padding-right: 1.875rem;
          margin-right: 1.875rem;
          padding-bottom: 0;
          margin-bottom: 0; } }
      @media screen and (min-width: 992px) {
        .section-login__content-main--extended {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; } }
    @media screen and (min-width: 992px) {
      .section-login__content-sub {
        width: 40%; } }
    .section-login__content-sub__copy {
      padding-left: 2rem;
      position: relative; }
      @media screen and (min-width: 992px) {
        .section-login__content-sub__copy {
          margin-top: 10rem;
          padding-left: 3.75rem; } }
      .section-login__content-sub__copy:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../images/arrow-color-primary.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 3.333rem;
        height: 1.333rem;
        -webkit-transform: rotate(-90deg) translateX(-40%) translateY(-80%);
        -ms-transform: rotate(-90deg) translateX(-40%) translateY(-80%);
        transform: rotate(-90deg) translateX(-40%) translateY(-80%); }
        @media screen and (min-width: 992px) {
          .section-login__content-sub__copy:before {
            -webkit-transform: rotate(180deg) translateY(-5px);
            -ms-transform: rotate(180deg) translateY(-5px);
            transform: rotate(180deg) translateY(-5px);
            width: 2.5rem;
            height: 1rem; } }
    @media screen and (min-width: 992px) {
      .section-login__content--divided {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .section-login__content--small {
      padding: 3.333rem;
      max-width: 745px;
      min-height: 0; }
      @media screen and (min-width: 768px) {
        .section-login__content--small {
          padding: 2.5rem; } }
  @media screen and (min-width: 992px) {
    .section-login__form--extended {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  .section-login:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 20, 90, 0.46); }
