.heading-primary {
    font-family: $font-main-bld;
    font-size: 3.75rem;
    color: $color-text;
    letter-spacing: 0.04em;

    &--big {
        font-size: 5.625rem;
    }
}

.heading-secondary {
    font-family: $font-main;
    font-size: 4rem;
    letter-spacing: 0.04em;
    color: $color-text;
    @include atSmall {
        font-size: 3rem;
    }

    &--small {
        font-size: 3rem;
        @include atSmall {
            font-size: 2.25rem;
        }
    }

    &--med {
        font-size: 3.333rem;
        line-height: 4.167rem;
        @include atSmall {
            font-size: 2.5rem;
            line-height: 3.125rem;
        }
    }
}

.heading-tertiary {
    font-family: $font-main;
    color: $color-text;
    font-size: 2.5rem;
    @include atSmall {
        font-size: 1.875rem;
    }
}

.heading-quaternary {
    font-family: $font-main;
    color: $color-text;
    font-size: 2rem;
    @include atSmall {
        font-size: 1.5rem;
    }
}

.paragraph {
    font-family: $font-main;
    font-size: 1.333rem;
    line-height: 2.167rem;
    letter-spacing: 0.04em;
    color: $color-text;
    @include atSmall {
        font-size: 1rem;
        line-height: 1.625rem;
    }

    &__icon {
        max-width: 52px;
    }

    &--link {
        &:hover {
            text-decoration: none;
        }
    }

    &--smallest-2 {
        font-size: 9px;
        line-height: 12px;
    }

    &--smallest {
        font-size: 1rem;
        line-height: 1.5rem;
        @include atSmall {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
    }

    &--small {
        font-size: 1.167rem;
        line-height: 2.5rem;
        @include atSmall {
            font-size: 0.875rem;
            line-height: 1.875rem;
        }

        &-alt {
            line-height: 2rem;
            @include atSmall {
                line-height: 1.5rem;
            }
        }
    }

    &--med {
        font-size: 1.5rem;
        line-height: 1.8333rem;
        @include atSmall {
            font-size: 1.125rem;
            line-height: 1.375rem;
        }

        &-alt {
            line-height: 2.5rem;
            @include atSmall {
                line-height: 1.875rem;
            }
        }
    }

    &--med-2 {
        font-size: 1.8333rem;
        @include atSmall {
            font-size: 1.375rem;
        }
    }

    &--med-3 {
        font-size: 1.667rem;
        @include atSmall {
            font-size: 1.25rem;
        }
    }

    &--big {
        font-size: 2.0833rem;
        line-height: 3.333rem;
        @include atSmall {
            font-size: 1.5625rem;
            line-height: 2.5rem;
        }
    }
}