.steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__item {
        border-radius: 50%;
        height: 1.667rem;
        width: 1.667rem;
        border: 1px solid $color-white;
        position: relative;
        background-color: $color-black;
        @include atSmall {
            height: 1.25rem;
            width: 1.25rem;
        }

        &--active {
            border-color: $color-primary;
            background-color: $color-primary-dark;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $color-white;
    }
}